@import "../styles/variables.scss";

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $l-gap;
  margin: 80px clamp(0.3125rem, -8.3929rem + 23.2143vw, 12.5rem);
  margin-top: $header-height;
  padding-top: $l-gap;

  .titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $xs-gap;
  }
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid var(--grey-dark, #666565);
  width: 100vw;
  text-align: start;
  background-color: white;
  padding: 32px clamp(0.3125rem, -4.8214rem + 13.6905vw, 7.5rem);
}
